.menu {
    margin:auto;
    width: 100%;
    height: 80px;
    border: 1px solid #b1aeae;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: rgb(110, 108, 108);
}

ul, li, ol {
    list-style-type: none;
    padding: 0;
}

.menubar {
    width: 800px;
    height: 100%;
    float: left;
    text-align: center;
    padding: 0;
    margin: auto;
    z-index: 700;

}

.menubar>li{
    float: left;
    width: 20%;
    padding-top: 27px;
    text-align: center;
}

.menubar a{
    font-size: 15px;
    width: 100%;
    height: 100%;
    display: block;
    line-height: 25px;
}

.submenu {
    display: none;
}



.menubar>li>a:hover+ul {
    display: block;
}

.menubar>li>ul:hover {
    display: block;
}